.desktop-1-vdd {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 100%;

  .auto-group-uun7-aCP {
    flex-shrink: 0;
    height: 79rem;
    position: relative;
    width: 100%;

    .rectangle-31-YB9 {
      background-color: #161615;
      height: 74.8rem;
      left: 0;
      position: absolute;
      top: 4.2rem;
      width: 144rem;
    }

    .rectangle-EZm {
      background-image: url('/api/try-prod-ap-southeast-1-first-cluster/projects/33BiBgrcgDkkqE7vXQfhv1/files/image/de391a52c4668920b65cd75a6ec7e6e49957ed1c');
      background-repeat: repeat;
      background-size: 100.85%;
      height: 74.9rem;
      left: 0;
      opacity: 0.5;
      position: absolute;
      top: 4.1rem;
      width: 144rem;
    }

    .group-15-Lco {
      height: 65.9rem;
      left: 0;
      position: absolute;
      top: 12.9rem;
      width: 144rem;

      .rectangle-30-3XD {
        background-color: #f07e15;
        height: 35.4301rem;
        left: 44.7rem;
        position: absolute;
        top: 21.5617rem;
        width: 99.3rem;
      }

      .star-3-Arj {
        height: 37.151rem;
        left: 69rem;
        object-fit: contain;
        position: absolute;
        top: 0;
        vertical-align: top;
        width: 40rem;
      }

      .jessica-radanavong-ichpbhfd0pw-unsplash-i7Z {
        height: 65.4951rem;
        left: 64rem;
        object-fit: cover;
        position: absolute;
        top: 0.4049rem;
        vertical-align: top;
        width: 36rem;
      }

      .rectangle-29-nNK {
        background-color: rgba(240, 126, 21, 0.200000003);
        height: 35.4301rem;
        left: 44.7rem;
        /* .jessica-radanavong-ichpbhfd0pw-unsplash-i7Z */
        position: absolute;
        top: 21.5617rem;
        width: 99.3rem;
      }

      .star-4-Hps {
        height: 8.9081rem;
        left: 72.4rem;
        object-fit: contain;
        position: absolute;
        top: 49.1972rem;
        vertical-align: top;
        width: 6.4rem;
      }

      .oregon-jacket-pZu {
        color: #161615;
        font-family: Work Sans, 'Source Sans Pro';
        font-size: 1.4rem;
        font-weight: 400;
        height: 1.7rem;
        left: 100rem;
        line-height: 1.1725;
        position: absolute;
        text-transform: uppercase;
        top: 48.5899rem;
        white-space: nowrap;
        width: 11.7rem;
      }

      .item-124-gs1 {
        color: #161615;
        font-family: Work Sans, 'Source Sans Pro';
        font-size: 1.4rem;
        font-weight: 400;
        height: 1.7rem;
        left: 100.5rem;
        line-height: 1.1725;
        position: absolute;
        top: 50.5132rem;
        white-space: nowrap;
        width: 3.1rem;
      }

      .line-23-zMu {
        background-color: #ffffff;
        height: 0.1rem;
        left: 0;
        position: absolute;
        top: 53.6513rem;
        width: 73.6rem;
      }

      .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-X6w {
        color: #ffffff;
        font-family: Syne, 'Source Sans Pro';
        font-size: 13.5rem;
        font-weight: 800;
        height: 10.3rem;
        left: 27rem;
        line-height: 0.7599999887;
        position: absolute;
        top: 2rem;
        white-space: nowrap;
        width: 60.7rem;
      }

      .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-KHh {
        color: #ffffff;
        font-family: Syne, 'Source Sans Pro';
        font-size: 13.5rem;
        font-weight: 800;
        height: 10.3rem;
        left: 29.9rem;
        line-height: 0.7599999887;
        position: absolute;
        top: 26rem;
        white-space: nowrap;
        width: 52.7rem;
      }

      .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-kP1 {
        font-family: Syne, 'Source Sans Pro';
        font-size: 13.5rem;
        font-weight: 800;
        height: 10.3rem;
        left: 42.4rem;
        line-height: 0.7599999887;
        position: absolute;
        top: 13rem;
        white-space: nowrap;
        width: 55.1rem;
        color: #ffffff;
        flex-shrink: 0;


      }

      .frame-11197-zo9 {
        border: solid 0.1rem #ffffff;
        border-bottom: solid 0.1rem #ffffff;
        box-sizing: border-box;
        height: 2.5rem;
        left: 11.5rem;
        position: absolute;
        top: 56.7rem;
        width: 9rem;

        .frame-1-L6K {
          align-items: center;
          display: flex;
          height: 2.2rem;
          width: 100%;

          .see-more-srw {
            color: #ffffff;
            flex-shrink: 0;
            font-family: Work Sans, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1725;
            margin-right: 0.9rem;
            white-space: nowrap;
          }

          .vector-9hy {
            flex-shrink: 0;
            height: 1rem;
            margin-top: 0.2rem;
            object-fit: contain;
            vertical-align: top;
            width: 1rem;
          }
        }
      }
    }

    .rectangle-27-Fm1 {
      background-color: #191919;
      height: 4.2rem;
      left: 0;
      position: absolute;
      top: 0;
      width: 144rem;
    }

    .home-o1q {
      color: #ffffff;
      font-family: Work Sans, 'Source Sans Pro';
      font-size: 1.8rem;
      font-weight: 400;
      height: 2.2rem;
      left: 7.5rem;
      line-height: 1.1725;
      position: absolute;
      top: 9rem;
      white-space: nowrap;
      width: 5.4rem;
    }

    .about-VvF {
      color: #ffffff;
      font-family: Work Sans, 'Source Sans Pro';
      font-size: 1.8rem;
      font-weight: 400;
      height: 2.2rem;
      left: 24rem;
      line-height: 1.1725;
      position: absolute;
      top: 9rem;
      white-space: nowrap;
      width: 6.1rem;
    }

    .contact-us-29V {
      color: #ffffff;
      font-family: Work Sans, 'Source Sans Pro';
      font-size: 1.8rem;
      font-weight: 400;
      height: 2.2rem;
      left: 65.4rem;
      line-height: 1.1725;
      position: absolute;
      top: 9rem;
      white-space: nowrap;
      width: 11.4rem;
    }

    .bag-0-Xrw {
      color: #ffffff;
      font-family: Work Sans, 'Source Sans Pro';
      font-size: 1.4rem;
      font-weight: 400;
      height: 1.7rem;
      left: 102rem;
      line-height: 1.1725;
      position: absolute;
      top: 5.5rem;
      white-space: nowrap;
      width: 5.1rem;
    }

    .wishlist-0-FH9 {
      color: #ffffff;
      font-family: Work Sans, 'Source Sans Pro';
      font-size: 1.4rem;
      font-weight: 400;
      height: 1.7rem;
      left: 92rem;
      line-height: 1.1725;
      position: absolute;
      top: 5.5rem;
      white-space: nowrap;
      width: 8.9rem;
    }

    .shopkart-9dR {
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      font-size: 4rem;
      height: 6rem;
      left: 4rem;
      line-height: 1.5;
      position: absolute;
      /* top: 4.1rem; */
      white-space: nowrap;
      width: 18.3rem;
    }

    .free-delivery-Te7 {
      color: #616161;
      font-family: Poppins, 'Source Sans Pro';
      font-size: 1.2rem;
      font-weight: 400;
      height: 1.8rem;
      left: 6.7rem;
      line-height: 1.5;
      position: absolute;
      /* top: 1.3rem; */
      white-space: nowrap;
      width: 7.6rem;
    }

    .return-policy-NFH {
      color: #616161;
      font-family: Poppins, 'Source Sans Pro';
      font-size: 1.2rem;
      font-weight: 400;
      height: 1.8rem;
      left: 15.2rem;
      line-height: 1.5;
      position: absolute;
      /* top: 1.3rem; */
      white-space: nowrap;
      width: 7.7rem;
    }

    .login-gFy {
      color: #616161;
      font-family: Poppins, 'Source Sans Pro';
      font-size: 1rem;
      font-weight: 400;
      height: 1.5rem;
      left: 87rem;
      line-height: 1.5;
      position: absolute;
      top: 0;
      white-space: nowrap;
      width: 2.7rem;
    }

    .follow-us-znT {
      color: #616161;
      font-family: Poppins, 'Source Sans Pro';
      font-size: 1rem;
      font-weight: 400;
      height: 1.5rem;
      left: 93rem;
      line-height: 1.5;
      position: absolute;
      top: 0;
      white-space: nowrap;
      width: 4.7rem;
    }

    .layer-156-WVu {
      height: 1.2904rem;
      left: 4rem;
      object-fit: contain;
      position: absolute;
      top: 1.5rem;
      vertical-align: top;
      width: 2.1rem;
    }

    .vector-r3y {
      height: 0.76rem;
      left: 99rem;
      object-fit: contain;
      position: absolute;
      top: 1.3rem;
      vertical-align: top;
      width: 0.45rem;
    }

    .vector-NHD {
      height: 0.7645rem;
      left: 100.5rem;
      object-fit: contain;
      position: absolute;
      top: 1.3rem;
      vertical-align: top;
      width: 0.8rem;
    }

    .vector-unw {
      height: 0.56rem;
      left: 103rem;
      object-fit: contain;
      position: absolute;
      top: 1.5rem;
      vertical-align: top;
      width: 0.76rem;
    }

    .group-6-T3m {
      height: 0.8rem;
      left: 105rem;
      object-fit: contain;
      position: absolute;
      top: 1.3rem;
      vertical-align: top;
      width: 0.8rem;
    }

    .group-16-JKH {
      height: 2.2rem;
      left: 9rem;
      object-fit: contain;
      position: absolute;
      top: 8.7rem;
      vertical-align: top;
      width: 126rem;
    }

    .dropdown-dsM {
      border: solid 0.1rem #ffffff;
      box-sizing: border-box;
      height: 12.3rem;
      left: 40rem;
      padding-bottom: 1.1rem;
      position: absolute;
      top: 11.3rem;
      width: 15.9rem;

      .dopdown-kh5 {
        color: #ffffff;
        font-family: Work Sans, 'Source Sans Pro';
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.1725;
        margin-bottom: 0.1rem;
        margin-top: 0.1rem;
        white-space: nowrap;
      }

      .line-34-6F9 {
        background-color: #ffffff;
        height: 0.1rem;
        margin-bottom: 0.5rem;
        width: 13.9rem;
      }

      .product-1-e1m {
        color: #ffffff;
        font-family: Work Sans, 'Source Sans Pro';
        font-size: 1.4rem;
        font-weight: 300;
        line-height: 1.1725;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
        white-space: nowrap;
      }

      .product-2-ypj {
        color: #ffffff;
        font-family: Work Sans, 'Source Sans Pro';
        font-size: 1.4rem;
        font-weight: 300;
        line-height: 1.1725;
        margin-bottom: 0.5rem;
        margin-top: 0.1rem;
        white-space: nowrap;
      }

      .product-3-KNo {
        color: #ffffff;
        font-family: Work Sans, 'Source Sans Pro';
        font-size: 1.4rem;
        font-weight: 300;
        line-height: 1.1725;
        margin-bottom: 0.5rem;
        margin-top: 0.1rem;
        white-space: nowrap;
      }

      .product-4-efy {
        color: #ffffff;
        font-family: Work Sans, 'Source Sans Pro';
        font-size: 1.4rem;
        font-weight: 300;
        line-height: 1.1725;
        white-space: nowrap;
        margin-bottom: 0.5rem;
        margin-top: 0.1rem;
      }
    }
  }

  .auto-group-6cpp-yy9 {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: 7rem 0rem 10.3rem 6.7rem;
    width: 100%;

    .auto-group-5rmu-VwV {
      align-items: center;
      display: flex;
      flex-shrink: 0;
      height: 11.6rem;
      margin: 0rem 10.4rem 2.2rem 0rem;

      .auto-group-wlh5-dH1 {
        flex-shrink: 0;
        height: 100%;
        margin-right: 45rem;
        position: relative;
        width: 66.1rem;

        .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-NVV {
          color: #000000;
          font-family: Syne, 'Source Sans Pro';
          font-size: 9rem;
          font-weight: 600;
          height: 10.8rem;
          left: 12rem;
          line-height: 1.2;
          position: absolute;
          top: -11rem;
          white-space: nowrap;
          width: 64.5rem;
        }

        .group-17-Qh5 {
          height: 2.2rem;
          left: 8.5rem;
          object-fit: contain;
          position: absolute;
          top: 8.5rem;
          vertical-align: top;
          width: 5rem;
        }
      }

      .arrow-2-wh1 {
        flex-shrink: 0;
        height: 0;
        margin: 1.4rem 4.8rem 0rem 0rem;
        object-fit: contain;
        vertical-align: top;
        width: 5.5rem;
      }

      .arrow-1-5YK {
        flex-shrink: 0;
        height: 0;
        margin-top: 1.4rem;
        object-fit: contain;
        vertical-align: top;
        width: 5.5rem;
      }
    }

    .auto-group-2qjd-Q4o {
      align-items: flex-start;
      display: flex;
      flex-shrink: 0;
      height: 50rem;
      margin: 0rem 0rem 1.2rem 2.4rem;

      .auto-group-qga3-X9R {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        position: absolute;
        left: 8rem;
        margin: 0.1rem 9.6rem 0rem 0rem;

        .apparel-rBh {
          color: #000000;
          flex-shrink: 0;
          font-family: Work Sans, 'Source Sans Pro';
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.1725;
          margin-bottom: 0rem;
          white-space: nowrap;
        }

        .accessories-nb9 {
          color: #000000;
          flex-shrink: 0;
          font-family: Syne, 'Source Sans Pro';
          font-size: 2.6rem;
          font-weight: 600;
          line-height: 1.2;
          margin-bottom: 0rem;
          white-space: nowrap;
        }

        .best-sellers-7tK {
          color: #000000;
          flex-shrink: 0;
          font-family: Work Sans, 'Source Sans Pro';
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.1725;
          margin-bottom: 0rem;
          white-space: nowrap;
        }


        .off-TSP {
          color: #000000;
          flex-shrink: 0;
          font-family: Work Sans, 'Source Sans Pro';
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.1725;
          position: absolute;
          top: 14rem;
          white-space: nowrap;
        }
      }

      .auto-group-vn2b-Ces {
        background-image: url('/api/try-prod-ap-southeast-1-first-cluster/projects/33BiBgrcgDkkqE7vXQfhv1/files/image/18dda13e07d18c9e3059f7e9658764387e84c47e');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        box-sizing: border-box;
        flex-shrink: 0;
        height: 100%;
        margin-right: 2.6rem;
        padding: 27.7rem 0rem 0rem 26.5rem;

        .group-19-8YX {
          height: 4.5rem;
          object-fit: contain;
          vertical-align: top;
          width: 4.5rem;
        }
      }

      .auto-group-z8cf-e15 {
        background-image: url('/api/try-prod-ap-southeast-1-first-cluster/projects/33BiBgrcgDkkqE7vXQfhv1/files/image/c7204cb204eb2b299e5bbdcf1dc998f1a18fc075');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        box-sizing: border-box;
        flex-shrink: 0;
        height: 100%;
        margin-right: 2.6rem;
        padding: 27.7rem 0rem 0rem 25.9rem;

        .secondary-button-Nhm {
          height: 4.5rem;
          object-fit: contain;
          vertical-align: top;
          width: 4.5rem;
        }
      }

      .auto-group-etbr-uBu {
        flex-shrink: 0;
        height: 100%;
        /* margin-right: 2.6rem; */
        position: relative;
        width: 30.5rem;
        left: 20rem;

        .secondary-button-3Z1 {
          height: 4.5rem;
          left: 26rem;
          object-fit: contain;
          position: absolute;
          top: 27.7rem;
          vertical-align: top;
          width: 4.5rem;
        }

        .malicki-m-beser-pkmvkg7vnuo-unsplash-nFh {
          height: 32.2rem;
          left: 0;
          object-fit: cover;
          position: absolute;
          top: 0;
          vertical-align: top;
          width: 25.5rem;
        }

        .secondary-button-hdZ {
          height: 4.5rem;
          left: 23rem;
          object-fit: contain;
          position: absolute;
          top: 27.7rem;
          vertical-align: top;
          width: 4.5rem;
        }
      }

      .philipp-arlt-nmh9a0obon8-unsplash-SLF {
        flex-shrink: 0;
        height: 32.2rem;
        object-fit: cover;
        vertical-align: top;
        width: 30.4rem;
      }
    }

    .auto-group-3vhd-Zfm {
      align-items: center;
      display: flex;
      flex-shrink: 0;
      height: 12.7rem;
      /* margin-left: 28.7rem; */
      position: relative;
      /* left: 10rem; */
      top: 30rem;
      width: 27.5rem;

      .frame-11194-JtF {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        height: 100%;
        margin-right: 3.4rem;

        .florida-jacket-fD1 {
          color: #000000;
          flex-shrink: 0;
          font-family: Syne, 'Source Sans Pro';
          font-size: 2.6rem;
          font-weight: 600;
          line-height: 1.2;
          margin-bottom: 0.6rem;
          white-space: nowrap;
        }

        .suffered-alteration-in-some-form-bysuffalterattion-in-some-forme-byinjected-humor-or-randomised-Bx3 {
          color: rgba(22, 22, 21, 0.5);
          flex-shrink: 0;
          font-family: Work Sans, 'Source Sans Pro';
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.1725;
          margin-bottom: 0.7rem;
          max-width: 30.2rem;
        }

        .item-100-51q {
          color: #000000;
          flex-shrink: 0;
          font-family: Syne, 'Source Sans Pro';
          font-size: 2.6rem;
          font-weight: 600;
          line-height: 1.2;
          white-space: nowrap;
        }
      }

      .frame-11194-bks {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        height: 100%;
        margin-right: 2.8rem;

        .florida-jacket-kdm {
          color: #000000;
          flex-shrink: 0;
          font-family: Syne, 'Source Sans Pro';
          font-size: 2.6rem;
          font-weight: 600;
          line-height: 1.2;
          margin-bottom: 0.6rem;
          white-space: nowrap;
        }

        .suffered-alteration-in-some-form-bysuffalterattion-in-some-forme-byinjected-humor-or-randomised-Htb {
          color: rgba(22, 22, 21, 0.5);
          flex-shrink: 0;
          font-family: Work Sans, 'Source Sans Pro';
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.1725;
          margin-bottom: 0.7rem;
          max-width: 30.2rem;
        }

        .item-100-PRq {
          color: #000000;
          flex-shrink: 0;
          font-family: Syne, 'Source Sans Pro';
          font-size: 2.6rem;
          font-weight: 600;
          line-height: 1.2;
          white-space: nowrap;
        }
      }

      .frame-11194-KqH {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        height: 100%;
        margin-right: 2.9rem;

        .florida-jacket-gA3 {
          color: #000000;
          flex-shrink: 0;
          font-family: Syne, 'Source Sans Pro';
          font-size: 2.6rem;
          font-weight: 600;
          line-height: 1.2;
          margin-bottom: 0.6rem;
          white-space: nowrap;
        }

        .suffered-alteration-in-some-form-bysuffalterattion-in-some-forme-byinjected-humor-or-randomised-Qrj {
          color: rgba(22, 22, 21, 0.5);
          flex-shrink: 0;
          font-family: Work Sans, 'Source Sans Pro';
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.1725;
          margin-bottom: 0.7rem;
          max-width: 30.2rem;
        }

        .item-100-Wum {
          color: #000000;
          flex-shrink: 0;
          font-family: Syne, 'Source Sans Pro';
          font-size: 2.6rem;
          font-weight: 600;
          line-height: 1.2;
          white-space: nowrap;
        }
      }

      .frame-11194-4RV {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        height: 100%;

        .florida-jacket-27R {
          color: #000000;
          flex-shrink: 0;
          font-family: Syne, 'Source Sans Pro';
          font-size: 2.6rem;
          font-weight: 600;
          line-height: 1.2;
          margin-bottom: 0.6rem;
          white-space: nowrap;
        }

        .suffered-alteration-in-some-form-bysuffalterattion-in-some-forme-byinjected-humor-or-randomised-ADd {
          color: rgba(22, 22, 21, 0.5);
          flex-shrink: 0;
          font-family: Work Sans, 'Source Sans Pro';
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.1725;
          margin-bottom: 0.7rem;
          max-width: 30.2rem;
        }

        .item-100-FVy {
          color: #000000;
          flex-shrink: 0;
          font-family: Syne, 'Source Sans Pro';
          font-size: 2.6rem;
          font-weight: 600;
          line-height: 1.2;
          white-space: nowrap;
        }
      }
    }
  }

  .auto-group-fehd-PcB {
    background-image: url('/api/try-prod-ap-southeast-1-first-cluster/projects/33BiBgrcgDkkqE7vXQfhv1/files/image/9c649ecbdc1cdc661f9e78135f72e2b52d3dccf5');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    flex-shrink: 0;
    height: 52rem;
    position: relative;
    width: 100%;

    .auto-group-wjbh-wNo {
      align-items: flex-start;
      display: flex;
      height: 8.7rem;
      left: 10.3rem;
      position: absolute;
      top: 8.2rem;
      width: 107.1rem;

      .auto-group-k2nb-Gfy {
        flex-shrink: 0;
        height: 8.1rem;
        margin-right: 7rem;
        position: relative;
        width: 31.7rem;

        .get-news-about-articles-and-updates-in-your-inbox-1tT {
          color: rgba(255, 255, 255, 0.5);
          font-family: Work Sans, 'Source Sans Pro';
          font-size: 1.8rem;
          font-weight: 400;
          height: 6.4rem;
          left: 0;
          line-height: 1.1725;
          position: absolute;
          top: 1.7rem;
          width: 32.7rem;
        }

        .newslleter-J6s {
          color: rgba(255, 255, 255, 0.5);
          font-family: Syne, 'Source Sans Pro';
          font-size: 2.6rem;
          font-weight: 600;
          height: 3.2rem;
          left: 0;
          line-height: 1.2;
          position: absolute;
          top: 0;
          white-space: nowrap;
          width: 14rem;
        }
      }

      .auto-group-tauv-cNT {
        flex-shrink: 0;
        height: 100%;
        width: 55.8rem;

        .name-Aes {
          color: rgba(255, 255, 255, 0.5);
          font-family: Work Sans, 'Source Sans Pro';
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.1725;
          margin: 0rem 0rem 0.8rem 1.4rem;
          white-space: nowrap;
          background-color: transparent;
          border: none;
         outline: none;
         width: 40rem;
        }

        .line-19-UvT {
          background-color: #ffffff;
          height: 0.1rem;
          margin-bottom: 3.4rem;
          width: 100%;
        }

        .email-2BH {
          color: rgba(255, 255, 255, 0.5);
          font-family: Work Sans, 'Source Sans Pro';
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.1725;
          margin-left: 1.4rem;
          white-space: nowrap;
          background-color: transparent;
          border: none;
          outline: none; 
          width: 40rem;
        }
      }
    }

    .message-kd5 {
      color: rgba(255, 255, 255, 0.5);
      font-family: Work Sans, 'Source Sans Pro';
      font-size: 1.8rem;
      font-weight: 400;
      height: 2.2rem;
      left: 50.5rem;
      line-height: 1.1725;
      position: absolute;
      top: 21.6rem;
      white-space: nowrap;
      width: 40rem;
      background-color: transparent;
       border: none;
       outline: none;
    }
    .button-daP {
      align-items: center;
      border: solid 0.2rem #f07e15;
      border-radius: 9.05rem;
      box-sizing: border-box;
      color: #f07e15;
      display: flex;
      font-family: Work Sans, 'Source Sans Pro';
      font-size: 2.6rem;
      font-weight: 400;
      height: 18.1rem;
      justify-content: center;
      left: 85rem;
      line-height: 0.6153846154;
      position: absolute;
      top: 20rem;
      white-space: nowrap;
      width: 18.1rem;
      background-color: transparent;
    }

    .auto-group-ermd-GLX {
      height: 23rem;
      left: 9rem;
      position: absolute;
      top: 26rem;
      width: 125.3rem;

      .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-o5Z {
        color: #ffffff;
        font-family: Syne, 'Source Sans Pro';
        font-size: 13.5rem;
        font-weight: 800;
        height: 20.6rem;
        left: 7rem;
        line-height: 0.7599999887;
        position: absolute;
        /* top: 2.4rem; */
        width: 112rem;
        bottom: -15rem;
      }

      
    }

    .line-20-5xB {
      background-color: #ffffff;
      height: 0.1rem;
      left: 49rem;
      position: absolute;
      top: 17.7rem;
      width: 55.8rem;
    }

    .line-21-cx7 {
      background-color: #ffffff;
      height: 0.1rem;
      left: 49rem;
      position: absolute;
      top: 24.6rem;
      width: 55.8rem;
    }

    .a18591063 {
      width: 100%;
      height: 100%;
    }
  }

  .auto-group-j5us-jWw {
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-shrink: 0;
    font-family: Poppins, 'Source Sans Pro';
    font-size: 1.2rem;
    font-weight: 400;
    height: 6.6rem;
    justify-content: center;
    line-height: 1.5;
    white-space: nowrap;
    width: 100%;
  }
}

hr {
  color: #ffffff;
  width: 1670px;
  position: absolute;
  margin-left: 70;
  top: 9rem;
}

.hrclass {
  color: #000000;
  width: 1100px;
  position: absolute;
  margin-left: 12rem;
  top: 9rem;
}

.scroll {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.scroll::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
}

@media(max-width:998px){
  html{
    font-size: 55%;
  }
}
@media(max-width:768px){
  html{
    font-size: 45%;
  }
}
.star-4{
  margin-left: 39rem;
  top: 8.9rem;
position: absolute;
}
.responsive{
  
    width: 100%;
    height: auto;
  }
